<div class="row">
	<div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-clock-o"></i> Time until next nerf war</h3>
			</div>
			<div class="panel-body">
				<div style="margin: 100px auto; width: 460px;">
					<dy-flip-clock time="{{time}}"></dy-flip-clock>
				</div>
			</div>
		</div>
	</div>
</div>